body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 25%;
    height: 1250px;
    width: 1500px;
    background: wheat;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%
}

label {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
 }

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    height: 30px;
    width: 300px;
    font-size: larger;
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
 }
.start-button {
    margin-top: 15px;
    height: 40px;
    width: 100px;
    color: black;
    font-family: 'Press Start 2P', cursive;
}