body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 4%;
    margin-left: 15.5%;
    height: 750px;
    width: 1300px;
    background: wheat;
}